body {
    background: url(./images/programming.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
}

header div form{
     display: contents;
 }
header div form button {
    padding: 14px 40px;
    margin: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 0px;
}

    

.button1 {
    background-color: deepskyblue;
}
.button1:hover {
    background-color:  black;
}

.button2 {
    background-color: darkorange;
}

.button2:hover {
    background-color:  black;
}

.button3 {
    background-color: tomato;
}

.button3:hover {
    background-color:  black;
}

.button4 {
    background-color:forestgreen;
}

.button4:hover {
    background-color:  black;
}

.button5 {
    background-color: blueviolet;
}

.button5:hover {
    background-color: black;
}

div button {
    text-align: center;
    border: 1px;
    padding: 14px 25px;
    background-color:red;
    border-radius: 12px;
}

img#cutePics {
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
}

h4 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color:white;
}

img#married {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}

p {
    color: white;

}

img#future {
    margin: auto;
    display: block;
}

img#projects {
    width: 400px;
    height: 400px;
    margin: auto;
    display: block;
}

footer {
    color:lightgrey;
}

li {
    color: white;
}

p#projects {
    font-size: large;
}

a:-webkit-any-link {
    color: blue;
}

a:visited {
    color: red;
}

.contactLinks a img {
    width: 100px;
    height: 100px;
}