body {
    background: url(./images/programming.jpg) center no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

header {
    text-align: center;
    color: white;
}

header > img {
    height: 500px;
    width: 500px;
}
div form{
     display: contents;
 }
button {
    padding: 14px 40px;
    margin: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

    

.button1 {
    background-color: deepskyblue;
}
.button1:hover {
    background-color:  black;
}

.button2 {
    background-color: darkorange;
}

.button2:hover {
    background-color:  black;
}

.button3 {
    background-color: tomato;
}

.button3:hover {
    background-color:  black;
}

.button4 {
    background-color: greenyellow;
}

.button4:hover {
    background-color:  black;
}

.button5 {
    background-color: blueviolet;
}

.button5:hover {
    background-color: black;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color:white;
}

img#married {
    width: 300px;
    height: 300px;
    margin-left: 40% ;
}

p {
    color: white;

}

img#future {
    margin-left: 35% ;
}
